header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background: #858694;
  height: 12vh;
}

h1 {
  font-size: 3rem;
}

nav {
  display: flex;
  padding: 2.5rem 0 0 0;
}

.navLink {
  margin: 0 1rem;
  font-size: 1.8rem;
}
